#board {
  margin-top: 10px;
  background-color: rgba(0,0,0,.8);
}
h1 {
  font-family: 'Coiny', cursive, serif;
  font-size: 70px;
}
#tac {
  color: rgb(234, 27, 72);
}
.box {
  border: 5px solid rgb(244, 140, 66);
  height: 160px;
  cursor: pointer;
}
.topleft {
  border-top: 10px solid rgb(244, 140, 66);
  border-left: 10px solid rgb(244, 140, 66);
}
.top {
  border-top: 10px solid rgb(244, 140, 66);
}
.topright {
  border-top: 10px solid rgb(244, 140, 66);
  border-right: 10px solid rgb(244, 140, 66);
}
.left {
  border-left: 10px solid rgb(244, 140, 66);
}
.right {
  border-right: 10px solid rgb(244, 140, 66);
}
.bottomleft {
  border-bottom: 10px solid rgb(244, 140, 66);
  border-left: 10px solid rgb(244, 140, 66);
}
.bottom {
  border-bottom: 10px solid rgb(244, 140, 66);
}
.bottomright {
  border-bottom: 10px solid rgb(244, 140, 66);
  border-right: 10px solid rgb(244, 140, 66);
}

img {
  width: 100px;
  height: 100px;
  margin: 23px 0 0 22px;
}

form {
  text-align: center;
  margin: 40px 0;
}
