#board {
  margin-top: 10px;
}
/*body {
  background-color: #4879aa;
  }*/

.box {
  border: 1px solid black;
  height: 150px;
  background-color: blue;
  cursor: pointer;
}

img {
  width: 150px;
  height: 140px;
  margin-top: 3px;
}

form {
  text-align: center;
  margin: 40px 0;
}
